@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  font-color: #7448F4;
}

h1 {
  color: #7448F4;
}

h2 {
  color: #53DCFF;
}